Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-WTF==1.2.1
Werkzeug==2.3.7
PyYAML==6.0.1
opencv-python==4.8.1.78
ultralytics==8.0.196
torch>=1.13.0
torchvision>=0.14.0
matplotlib==3.7.2
pandas==2.0.3
numpy==1.24.3
python-docx==0.8.11
scipy>=1.11.1 